.scrumma-group {
    display: flex;
    min-height: 100%;
    overflow-y: auto;
    & > div {
        flex-basis: 50%;
        min-height: 100%;
        & .ScrollbarsCustom-Content {
            padding: 20px !important;
        }
    }
}

.history {
    color: #fff;
    background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
    padding: 20px !important;
    display: none;
    @media (min-width: 1100px) {
        display: block;
    }
}

.users {
    background-color: #fafafa;
}

.vote-options {
    padding: 20px !important;
}

.title {
    font-size: 24px;
    color: #3e3e3e;
    margin-bottom: 24px;
    display: block;
    &.light {
        color: #fff;
    }
}

.unique-votes {
    display: flex;
    flex-wrap: wrap;
    & > div {
        margin: 0 5px;
        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}
